{% extends 'base.html' %}

{% block title %}
<title> Enter New Game</title>
{%endblock title%}
</br>
{% block content %}
<div class="container">
    </br>
    <form method="POST" class="row">
        {% csrf_token %}
        <label class="col-lg-4"></label>
        <input type="text" class="form-control col-lg-6" name="game_name" placeholder="Enter game name ">


        <button type="Start" class="btn btn-primary col-lg-2">start new game</button>
    </form>
    </br>

    {% if users %}
    {%for user in users %}
      <div class="form-check form-check-inline" >
            <input class="form-check-input" type="checkbox" id="inlineCheckbox" value="option1">
            <label class="form-check-label" for="inlineCheckbox1">{{user}}</label>
      </div>
        </br>
    {%endfor%}
    {% endif %}






</div>
{%endblock content%}



