{% extends 'base.html' %}

{% block title %}
<title> Enter New Game</title>
{%endblock title%}
</br>
{% block content %}
<div class="container">
    </br>

    </br>
        <form method="POST" class="row" a>
        {% csrf_token %}
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                  <button class="btn btn-outline-secondary" type="submit">Register</button>
            </div>
            <input type="text"  name="user_name" class="form-control" placeholder="Enter new name"  aria-describedby="basic-addon1">
        </div>

    </form>
    </br>

    {% if users %}
    {%for user in users %}
      <div class="form-check form-check-inline" >
            <input class="form-check-input" type="checkbox" id="inlineCheckbox" value="option1">
            <label class="form-check-label" for="inlineCheckbox1">{{user}}</label>
      </div>
        </br>
    {%endfor%}
    {% endif %}
</div>
{%endblock content%}



